<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

<div class="user-container">
    <img id="photo" class="user-photo" src="/images/sunf.jpg" alt="avatar">

    <div class="info">
        <h2 id="username"></h2>
        <p id="email" class="muted">
            <span id="email-text"></span>
            <span id="verified-icon" class="verified-icon" style="display:none;">&#10004;</span>
        </p>
        <p  id="createdAt" class="muted"></p>

        <div class="btn-col">
            <button class="btn dark" id="btn-own-trees">Посмотреть деревья</button>
            <button class="btn dark" id="btn-send-message">Отправить сообщение</button>
        </div>
    </div>
</div>

<script src="/js/profile-all.js"></script>
</body>
</html>
