<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Вход</title>

    <link th:href="@{/css/forHome.css}"  rel="stylesheet"/>
    <link th:href="@{/css/regSing.css}"  rel="stylesheet"/>
</head>

<body>
<div class="registration-container">
    <h2>Вход</h2>

    <form id="loginForm" th:action="@{/auth/sign-in}" method="post">

        <div class="form-group">
            <label for="username">Никнейм</label>
            <input type="text" id="username" name="username" required/>

            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required/>
        </div>

        <!-- Контейнер для общих ошибок -->
        <div id="common-error" class="error-message"></div>

        <button type="submit" class="submit-btn">Войти</button>
    </form>

    <a th:href="@{/auth/sign-up}" class="link">Еще не с нами? Зарегистрируйтесь</a>
    <a th:href="@{/auth/google}" class="link">Войти через Google</a>
</div>
</body>
<script th:src="@{/js/sing.js}" defer></script>

<style>
    #error-message {
        color: red;
        margin-top: 10px;
        font-size: 14px;
    }
</style>

</html>